# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
x64/
x86/
Debug/
Release/
out/
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Object files
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
